<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AppMercado</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen"/>    
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/Produto/Index">
            <img src="https://cdn3.iconfinder.com/data/icons/industry-flat-3/64/Stock-storage-Merchandise-product-stock-256.png" width="30" height="30" class="d-inline-block align-top" alt="">
            AppMercado
            @*@Html.ActionLink("AppMercado", "Index", "Produto", new { area = "" }, new { @class = "d-inline-block align-top" })*@
        </a>
        @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="background-color:#9400D3">
                <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            </ul>
        </div>*@
    </nav>
    <div class="container">
         @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AppMercado</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
