<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AppMercado</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen"/>    
</head>
<body>        
    <nav class="navbar navbar-inverse" style="background-color:#9400D3">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" style="background-color:#9400D3" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AppMercado", "Index", "Produto", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="background-color:#9400D3">
                    <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>       
    <div class="container body-content">        
        <div class="oi">
            <img class="img-circle" alt="Responsive image" center-block style="margin-top:auto;" src="~/Imagens/mercadorias-menu.jpg" width="150" height="150">
        </div> 
           @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AppMercado</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
