@model AppMercado.Models.Produto

@{
    ViewBag.Title = "Excluir Produto";
}

<h2>Excluir Produto</h2>

<h5>Tem certeza que deseja excluir o produto?</h5>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TP_Mercadoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP_Mercadoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_Mercadoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_Mercadoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrição)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preço)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TP_Negocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP_Negocio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-warning btn-sm" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger btn-sm" })
        </div>
    }
</div>
