@model AppMercado.Models.Produto

@{
    ViewBag.Title = "Detalhes do Produto";
}

<h2>Detalhes do Produto</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TP_Mercadoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP_Mercadoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_Mercadoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_Mercadoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrição)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preço)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TP_Negocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP_Negocio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info btn-sm" })
</p>